
    <div id="right-panel" class="right-panel">
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Table</a></li>
                                    <li class="active">Basic table</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Placed Orders</strong>
                            </div>
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">#</th>
                                            <th>Delivery Date</th>
                                            <th>Mobile </th>
                                            <th>Address </th>
                                            <th>Payment</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Status Updating</th>

                                            <th>Products</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each orders}}
                                        <tr>
                                            <td class="serial"></td>
                                            <td> {{isoToDate this.date}} </td>
                                            <td> <span class="name">{{this.deliveryDetails.Mobile}}</span> </td>
                                            <td> <span>{{this.deliveryDetails.BuidlingName}},{{this.deliveryDetails.State}},{{this.deliveryDetails.District}},Pincode:{{this.deliveryDetails.Pincode}}</span>
                                            </td>
                                            <td> <span>{{this.Paymentmethod}}</span> </td>

                                            <td> <span>{{this.totalAmount}}</span> </td>
                                            <td> <span>{{this.status}}</span> </td>
                                            <td>
                                                <form action="" method="post" id="changeStatus">
                                                    <input value="{{this._id}}" name="orderId" type="text" hidden>
                                                    <select name="status" id="select" class="form-control"
                                                        onchange="values(this.value,'{{this._id}}')" required>
                                                        <option value="">choose</option>
                                                        
                                                        {{#if (eqPlaced this.status)}}   
                                                        <option value="packed">packed</option>                                                    
                                                        <option value="shipped">shipped</option>
                                                        <option value="delivered">delivered</option>
                                                        {{else}}
                                                        {{#if (eqPacked this.status)}}
                                                        <option value="shipped">shipped</option>
                                                        <option value="delivered">delivered</option>
                                                        {{else}}
                                                        {{#if (eqShipped this.status)}}                                                                                                              
                                                        <option value="delivered">delivered</option>
                                                        {{else}}
                                                         {{#if (eqPending this.status)}}                                                                                                              
                                                        <option value="cancel">cancel</option>                                                       
                                                        {{/if}}
                                                        {{/if}}
                                                        {{/if}}
                                                        {{/if}}
                                                    </select>

                                            </td>


                                            </form>
                                            {{!--
                                            <td><button class="primary-btn btn-success" type="submit">Confirm
                                                </button> </td> --}}

                                            <td><a href="/admin/viewOrderedProducts/{{this._id}}"
                                                    class="btn btn-info">view Products</a></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>


            function values(value, orderId) {
                $.ajax({
                    url: '/admin/delivery-changeStatus',
                    type: 'POST',
                    data: {
                        status: value,
                        orderId: orderId
                    },
                    success: (response) => {
                        if (response.updated) {
                            alert('status Updated', 'success')
                            location.reload()
                        }

                    }
                })
            }

        </script>





