{{#if totalValue}}
<!-- Start Header Area -->

<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            {{!-- {{#each this.product}} when it was array --}}

                            <td>
                                <div class="media">
                                    <div class="d-flex ">

                                        <img src="/product-images/{{this.product.images.[0]}}" alt=""
                                            style="width: 80px;height: 80px;">
                                    </div>
                                    <div class="media-body">
                                        <p>{{this.product.Product}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{this.product.Price}}</h5>
                            </td>
                            {{!-- {{/each}} --}}
                            <td>
                                <div class="product_count">
                                    <input type="text" name="qty" id="{{this.product._id}}" maxlength="12"
                                        value="{{this.quantity}}" title="Quantity:" class="input-text qty" disabled>
                                    <button
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userDetails._id}}',1)"
                                        class="increase items-count" type="button"><i
                                            class="lnr lnr-chevron-up"></i></button>
                                    <button
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userDetails._id}}',-1)"
                                        class="reduced items-count" type="button"><i
                                            class="lnr lnr-chevron-down"></i></button>
                                </div>
                            </td>
                            <td>
                                <a href="/delete-cart-product"
                                    onclick="delCartPro('{{this._id}}','{{this.product._id}}')"
                                    class="btn btn-danger">Delete</a>
                            </td>
                            <td>
                                <h5><span id="proTotal{{this.product._id}}">{{this.proTotal}}</span></h5>
                            </td>

                        </tr>

                        {{/each}}

                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="#">Update Cart</a>
                                <a href="/orders" class="btn btn-success">view Orders</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                                <h5>total</h5>
                            </td>
                            <td>
                                <h5>Rs.<span id="total">{{totalValue.total}}</span></h5>
                            </td>
                        </tr>


                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="/shopCategory">Continue Shopping</a>
                                    <a class="primary-btn" href="/place-order">Place Order</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{{else}}
<section class="cart_area">

<div class="container">
    <div class="row cart-image4 justify-content-center align-items-center mt-5">
        <img src="/user/img/cart.png" alt="">
        <h3 class="ml-5">Cart Empty</h3>
    </div>
</div>

</section>


{{/if}}
<!--================End Cart Area =================-->

<!-- start footer Area -->

<!-- End footer Area -->
<script>
    function changeQuantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).value)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                console.log(response, "yoyo")
                if (response.removeProduct) {
                    alert("product removed from cart")
                    location.reload()
                } else {

                    document.getElementById(proId).value = quantity + count
                    document.getElementById('total').innerHTML = response.total.total
                    document.getElementById('proTotal' + proId).innerHTML = response.proTotal.proTotall
                }
            }
        })
    }

    function delCartPro(cartId, proId) {
        $.ajax({
            url: '/delete-cart-product',
            data: {
                cart: cartId,
                product: proId
            },
            method: 'post',
            success: (response) => {

                alert("product removed from cart")
                location.reload()
            }
        })
    }

</script>