




    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="cupon_area">
                <input type="text" id="couponCode" value="" placeholder="Enter coupon code">
                <button class="tp_btn" onclick="applyCoupon()">Apply Coupon</button>
            </div>
            <div class="billing_details">
                <form class="row contact_form" action="" method="" id="checkout-form">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3>Shipping Address</h3>

                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="name" value="{{userDetails.address.[0].name}}" name="Name"
                                    placeholder="Name" onkeyup="validateName()">
                                <span id="AddrName-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="number" class="form-control" id="phone" value="{{userDetails.address.[0].phone}}" name="Phone"
                                    placeholder="Phone Number" onkeyup="validatePhone()">
                                <span id="AddrPhone-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="email" value="{{userDetails.email}}"
                                    name="Email" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="building_Name" value="{{userDetails.address.[0].building_Name}}" name="Buidling_Name"
                                    placeholder="Buidling Name" onkeyup="validateBuidling_Name()">
                                <span id="AddrBuidlingName-error" class="text-danger font-weight-bold"></span>

                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="street_name" value="{{userDetails.address.[0].street_name}}" name="Street_Name"
                                    placeholder="Street Name" onkeyup="validateStreet_Name()">
                                <span id="AddrStreetName-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="city" value="{{userDetails.address.[0].city}}" name="City"
                                    placeholder="City" onkeyup="validatCity()">
                                <span id="AddrCity-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="district" value="{{userDetails.address.[0].district}}" name="District"
                                    placeholder="District" onkeyup="validateDistrict()">
                                <span id="AddrDistrict-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="state" value="{{userDetails.address.[0].state}}" name="State"
                                    placeholder="State" onkeyup="validateState()">
                                <span id="AddrState-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="number" class="form-control" id="pincode" value="{{userDetails.address.[0].pincode}}" name="Pincode"
                                    placeholder="Pincode" onkeyup="validatePincode()">
                                <span id="AddrPincode-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div>

                                <input type="text" id="userId" name="userId" value="{{userDetails._id}}" hidden>
                            </div>
                            <div>

                                <input type="text" id="addressId" name="addressId" value="" hidden>
                            </div>
                            <div>

                                <input type="text" id="couponNamess" name="couponName" value="" hidden>
                            </div>
                            <div>

                                <input type="text" id="grandTotal" name="grandTotal" value="{{totalValue.total}}"
                                    hidden>
                            </div>
                            <div>

                                <input type="text" id="Discount" name="Discount" value="" hidden>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="order_box">

                                <h2>Your Order</h2>

                                <ul class="list">
                                    <li><a href="#">Product <span>Total</span></a></li>
                                    {{#each products}}
                                    <li><a href="#"> <span class="middle">{{this.product.Brand}} x
                                                {{this.quantity}}</span>
                                            <span class="last">Rs.{{this.proTotal}}</span></a></li>
                                    {{/each }}
                                </ul>
                                <ul class="list list_2">
                                    <li><a href="#"> Coupon applied<span id="couponNames">Nil</span></a></li>
                                    <li><a href="#"> Discount <span id="discount">0</span></a></li>
                                    <li><a href="#">Sub Total <span id="subTotal">{{totalValue.total}}</span></a></li>
                                    <li><a href="#">Grand Total <span id="GrandTotal">{{totalValue.total}}</span></a>
                                    </li>

                                </ul>
                                <div class="payment_item">
                                    <div class="radion_btn">
                                        <input type="radio" id="f-option5" name="Payment-method" value="COD" required>
                                        <label for="f-option5">Cash On Delivery</label>
                                        <div class="check"></div>
                                    </div>
                                </div>
                                <div class="payment_item active">
                                    <div class="radion_btn">
                                        <input type="radio" id="f-option6" name="Payment-method" value="ONLINE">
                                        <label for="f-option6">Razorpay </label>
                                        <img src="img/product/card.jpg" alt="">
                                        <div class="check"></div>
                                    </div>

                                </div>
                                <button class="primary-btn" onclick="couponUse('{{userDetails._id}}')"
                                    type="submit">Confirm </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    {{#each userAddress}}
                    <div class="col-md-4">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="font-weight-bold">name :</span> {{this.name}}
                                </p>
                                <p class="mb-4"><span class="font-weight-bold">phone :</span> {{this.phone}}
                                </p>
                                {{!-- <p class="mb-4"><span class="font-weight-bold">email:</span>
                                    {{../userDetails.email}}
                                </p> --}}
                                <p class="mb-4">
                                    <span class="font-weight-bold">Address :</span>
                                    {{this.building_Name}},{{this.street_name}},{{this.state}}
                                </p>

                                <p class="mb-4"><span class="font-weight-bold">pincode :</span> {{this.pincode}}</p>
                                <div>
                                    <button onclick="deliveryAddress('{{../userDetails._id}}','{{this.addId}}')"
                                        data-toggle="modal" data-target="#editAddress" class="btn btn-info">Add
                                        Address</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </section>
    <!--================End Checkout Area =================-->
    <script>
        function deliveryAddress(userId, addressId) {
            $.ajax({
                url: '/deliveryAddress',
                data: {
                    user: userId,
                    addressId: addressId
                },
                method: 'post',
                success: (response) => {
                    Swal.fire("currentAddress added ")
                    document.getElementById('name').value = response.name
                    document.getElementById('phone').value = response.phone
                    document.getElementById('building_Name').value = response.building_Name
                    document.getElementById('street_name').value = response.street_name
                    document.getElementById('city').value = response.city
                    document.getElementById('district').value = response.district
                    document.getElementById('state').value = response.state
                    document.getElementById('pincode').value = response.pincode
                    document.getElementById('addressId').value = response.addId
                }
            })
        }

        $("#checkout-form").submit((e) => {
            e.preventDefault()
            $.ajax({
                url: '/place-order',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: ((response) => {
                    alert(response)

                    if (response.codSuccess) {
                       
                        location.href = '/orderPlaced'
                    } else if (response.error) {
                        
                        Swal.fire("payment incompleted", "booking status pending", "error")
                        location.replace("/")
                    }
                    else {
                        console.log("rezorpayPayment")
                        rezorpayPayment(response)
                    }
                })
            })
        })

        function rezorpayPayment(order) {
            var options = {
                "key": "rzp_test_9MA0VfBXpxI6iH", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Footlovers",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {

                    verifyPayment(response, order)
                },

                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9999999999"
                },

                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }

        function verifyPayment(payment, order) {
            $.ajax({
                url: '/verify-payment',
                data: {
                    payment,
                    order
                },
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        location.href = '/orderPlaced'
                    } else {
                        alert("Payment failed")
                    }
                }
            })

        }

        function applyCoupon() {
            var couponCode = document.getElementById('couponCode').value
            var userId = document.getElementById('userId').value
            var subtotal = document.getElementById('subTotal').innerHTML
            $.ajax({
                url: '/applyCoupon',
                method: 'post',
                data: {
                    coupon: couponCode,
                    userId: userId,
                    subtotal: subtotal
                },
                success: (response) => {
                    if (response.expired) {
                        Swal.fire('sorry coupon expired')
                    } else if (response.used) {
                        Swal.fire('failed', 'already used', 'attempt failed')
                    } else if (response.notAvailable) {
                        console.log(response, "invalid")
                        Swal.fire('failed', 'invalid coupon')
                    } else if (response.orderLimit) {
                        Swal.fire("minimum cart value " + response.minCartValue)
                    } else {
                        var discount = response.reduction
                        console.log(discount, "ttttprrrrptttt")
                        var GrandTotal = subtotal - discount
                        console.log(discount, GrandTotal, "tttttttttttt")
                        document.getElementById('discount').innerHTML = discount
                        document.getElementById('GrandTotal').innerHTML = GrandTotal
                        document.getElementById('couponNamess').value = response.coupon
                        document.getElementById('couponNames').innerHTML = response.coupon
                        document.getElementById('grandTotal').value = GrandTotal
                        document.getElementById('Discount').value = discount
                        Swal.fire('Hurray', 'Coupon Applied', 'success')
                        console.log(response, "ttttrrrr")
                    }
                }
            })
        }

        var nameError = document.getElementById('AddrName-error');
        var phoneError = document.getElementById('AddrPhone-error');
        var buildingError = document.getElementById('AddrBuidlingName-error');
        var streetError = document.getElementById('AddrStreetName-error');
        var cityError = document.getElementById('AddrCity-error');
        var districtError = document.getElementById('AddrDistrict-error');
        var stateError = document.getElementById('AddrState-error');
        var pinError = document.getElementById('AddrPincode-error');
        var submitError = document.getElementById('submit-error');
        function validateName() {
            var name = document.getElementById('name').value;
            if (name.length == 0) {
                nameError.innerHTML = '**Name is required';
                return false
            }
            if (!name.match(/^[A-Za-z]*\s{1}[A-Za-z]*$/)) {
                nameError.innerHTML = '**write full name';
                return false;
            }
            if ((name.length <= 2) || (name.length > 25)) {
                nameError.innerHTML = '**Name length must be between 3 and 25';
                return false
            }
            nameError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
            return true
        }
        function validatePhone() {
            var phone = document.getElementById('phone').value;
            if (phone.length == 0) {
                phoneError.innerHTML = '**mobile number is required';
                return false
            }
            if (phone.length != 10) {
                phoneError.innerHTML = '**mobile number should be 10 digits';
                return false
            }
            if (!phone.match(/^[0-9]{10}$/)) {
                phoneError.innerHTML = '**Only digits please';
                return false
            }
            phoneError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
            return true
        }
        function validateBuidling_Name() {
            var building = document.getElementById('building_Name').value;
            if (building.length == 0) {
                buildingError.innerHTML = '**Building name is required';
                return false
            }
            if (!building.match(/^[A-Za-z]*$/)) {
                buildingError.innerHTML = '**Only alphabets';
                return false;
            }
            if ((building.length <= 2) || (building.length > 25)) {
                buildingError.innerHTML = '**Building name length must be between 3 and 25';
                return false
            }
            buildingError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
            return true
        }
        function validateStreet_Name() {
            var street = document.getElementById('street_name').value;
            if (street.length == 0) {
                streetError.innerHTML = '**street name is required';
                return false
            }
            if (!street.match(/^[A-Za-z]*$/)) {
                streetError.innerHTML = '**Only alphabets';
                return false;
            }
            if ((street.length <= 2) || (street.length > 25)) {
                streetError.innerHTML = '**street name length must be between 3 and 25';
                return false
            }
            streetError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
            return true
        }
        function validatCity() {
            var city = document.getElementById('city').value;
            if (city.length == 0) {
                cityError.innerHTML = '**city name is required';
                return false
            }
            if (!city.match(/^[A-Za-z]*$/)) {
                cityError.innerHTML = '**Only alphabets';
                return false;
            }
            if ((city.length <= 2) || (city.length > 25)) {
                cityError.innerHTML = '**city name length must be between 3 and 25';
                return false
            }
            cityError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
            return true
        }
        function validateDistrict() {
            var district = document.getElementById('district').value;
            if (district.length == 0) {
                districtError.innerHTML = '**district name is required';
                return false
            }
            if (!district.match(/^[A-Za-z]*$/)) {
                districtError.innerHTML = '**Only alphabets';
                return false;
            }
            if ((district.length <= 2) || (district.length > 25)) {
                districtError.innerHTML = '**district name length must be between 3 and 25';
                return false
            }
            districtError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
            return true
        }
        function validateState() {
            var state = document.getElementById('state').value;
            if (state.length == 0) {
                stateError.innerHTML = '**state name is required';
                return false
            }
            if (!state.match(/^[A-Za-z]*$/)) {
                stateError.innerHTML = '**Only alphabets';
                return false;
            }
            if ((state.length <= 2) || (state.length > 25)) {
                stateError.innerHTML = '**state name length must be between 3 and 25';
                return false
            }
            stateError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
            return true
        }
        function validatePincode() {
            var pincode = document.getElementById('pincode').value;
            if (pincode.length == 0) {
                pinError.innerHTML = '**pincode is required';
                return false
            }
            if (pincode.length != 6) {
                pinError.innerHTML = '**pincode  should be 6 digits';
                return false
            }
            if (!pincode.match(/^[0-9]{6}$/)) {
                pinError.innerHTML = '**Only digits please';
                return false
            }
            pinError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
            return true
        }
        function validateForm() {
            if (!validateName() || !validatePhone() || !validateBuidling_Name() || !validateStreet_Name() || !validatCity() || !validateDistrict() || !validateState() || !validatePincode()) {
                submitError.style.display = 'block'
                submitError.innerHTML = 'Please fill the form';
                setTimeout(function () { submitError.style.display = 'none' }, 3000)
                return false;
            }
        }

    </script>



