
	<!-- Start Header Area -->

	{{!-- .......its in user-header...... --}}



	<!-- End Header Area -->


	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>here is your<br>footlocker</h1>

									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href="/productDetails/634336630b3170027ed4d85e"><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="user/img/banner/banner1-img.png" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Nike New <br>Collection!</h1>
									
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="user/img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="user/img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="user/img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="user/img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="user/img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- Start category Area -->
	<section class="category-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="user/img/category/kids.jpg" alt="">
								<a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<a href="/kidsCategory">
											<h6 class="deal-title">Sneaker for kids</h6>
										</a>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="user/img/category/womenconnw.jpg" alt="">
								<a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<a href="/womenCategory">
											<h6 class="deal-title">Sneaker for women</h6>
										</a>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="user/img/category/green.jpg" alt="">
								<a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<a href="/menCategory">
											<h6 class="deal-title">Product for Men</h6>
										</a>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="user/img/category/unisex.png" alt="">
								<a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<a href="/unisexCategory">
											<h6 class="deal-title">Unisex sneakers</h6>
										</a>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End category Area -->

	<!-- start product Area -->
	<section class="owl-carousel active-product-area section_gap">
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>							
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->

					<!-- single product -->

					<!-- single product -->

					<!-- single product -->

					<!-- single product -->
					{{#each   allProducts}}
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<a href="/productDetails/{{this._id}}"><img class="img-fluid"
									src="/product-images/{{images.[0]}}" alt=""></a>
							<div class="product-details">
								<a href="/productDetails/{{this._id}}"><h5>{{this.Brand}}</h5></a>
								<a href="/productDetails/{{this._id}}"><h6>{{this.Product}}</h6></a>
								<div class="price">
									<a href="/productDetails/{{this._id}}"><h6>Rs .{{this.Price}}</h6></a>

								</div>
								<div class="prd-bottom">

									<a onclick="addToCart('{{this._id}}')"  class="social-info">
										<span class="ti-bag"></span>
										<p  onclick="addToCart('{{this._id}}')" class="hover-text">add to bag</p>
									</a>
									<a  onclick="addToWishlist('{{this._id}}')" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p onclick="addToWishlist('{{this._id}}')" class="hover-text">Wishlist</p>
									</a>
								
									<a href="/shopCategory" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
					<!-- single product -->

					<!-- single product -->

					<!-- single product -->

				</div>
			</div>
		</div>
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Coming Products</h1>
							
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					{{#each  allProductsSlide2}}
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="/product-images/{{images.[0]}}" alt="">
							<div class="product-details">
								<h6>{{this.Product}}</h6>
								<div class="price">
									<h6>{{this.Price}}</h6>
								</div>
								<div class="prd-bottom">

									<a onclick="addToCart('{{this._id}}')" class="social-info">
										<span class="ti-bag"></span>
										<p onclick="addToCart('{{this._id}}')" class="hover-text">add to bag</p>
									</a>
									<a onclick="addToWishlist('{{this._id}}')" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p onclick="addToWishlist('{{this._id}}')" class="hover-text">Wishlist</p>
									</a>
									
									<a href="/shopCategory" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
					<!-- single product -->

					<!-- single product -->

				</div>
			</div>
		</div>
	</section>
	<!-- end product Area -->





	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Every good company was founded on an idea — something the current marketplace might not yet offer
							and we belongs this genre
						</p>
					</div>
				</div>
			</div>


		</div>
	</footer> 

